# ============================== Filebeat inputs ===============================

filebeat.inputs:

- type: log
enabled: false
paths:
    - /var/log/*.log

# ============================== Filebeat modules ==============================

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

# ======================= Elasticsearch template setting =======================

setup.template.settings:
  index.number_of_shards: 1

{% if IS_STRUCTURED %}
# ---------------------------- Elasticsearch Output ----------------------------

output.elasticsearch:
  hosts: ["172.31.72.105:9200"]

{% else%}

# ------------------------------ Logstash Output -------------------------------
output.logstash:
  hosts: ["172.31.72.105:5044"]

{% endif %}