[Unit]
Description = login Service
[Service]
User=root
Environment=AUTH_API_PORT=8080
Environment=USERS_API_ADDRESS=http://users-{{ENV}}.zsdevops.online:8080
ExecStart=/home/todoapp/login/login-ci
Restart=on-failure
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target