[Unit]
Description = frontend Service
[Service]
User=root
Restart=on-failure
WorkingDirectory=/var/www/html/frontend
ExecStart=npm start

[Install]
WantedBy=multi-user.target